<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>JNU blog site</title>
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  </head>
  <body>

            <nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">

              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02">
                  <span class="navbar-toggler-icon"></span>
              </button>

              <div class="collapse navbar-collapse" id="navbarTogglerDemo02">

                <ul class="navbar-nav mr-auto nav nav-pills">
                  <li class="nav-item">
                  <i class="fas fa-home"></i>  <a class="nav-link" href="/">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Category</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link about" href="about">About</a>
                  </li>
                </ul>
              </div>

              <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                <ul class="navbar-nav ml-auto mr-auto">
                  <li class="nav-item">
                    <form class="form-inline" id=navBarSearchForm>
    <input class="form-control ml-sm-2" type="search" placeholder="Search" aria-label="Search">
    <a class="nav-link" type="submit">Search</a>
  </form>
                  </li>
                </ul>
              </div>
              <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                <ul class="navbar-nav ml-auto">
                  <li class="nav-item">
                    <a class="nav-link" href="#">Sign up/Login</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="username">Account</a>
                  </li>

    </div>


            </nav>
