<%- include('partials/header'); -%>


<h1>About</h1>
<p>This is a blogging website...</p>
<div class = "developedby">
  <h1>Developed By</h1>
  <div class = "db">
    <div class="dba">
      <img class ="sexyimages" src="74317470_1907248099421459_5082422508607504384_o.jpg">
      <p>Badal Raj Bijawat</p>
      <p>B.tech(ECE)</p>
      <p>9001296756</p>
    </div>
    <div class="dbb">
      <img class = "sexyimages" src="70307359_2527009427530561_134850342322962432_o.jpg">
      <p>Shivam Jha</p>
      <p>B.tech(CSE)</p>
      <p>6264851643</p>
      <i class="fab fa-instagram-square"></i>

    </div>
  </div>
</div>

<style>
body
{
background-image: url("janko-ferlic-sfL_QOnmy00-unsplash.jpg");
background-size:cover;
background-position:center;
background-color: rgba(0, 0, 0, 0.5);
display:inline-block;

height: 100vh;
width: 100vw;
}
</style>
<%- include('partials/footer'); -%>
